.titleBox {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.contactLink {
    width: 80%;
    max-width: 280px;
    align-self: self-end;
    margin-top: -60px;
}

.projectsBox {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

    list-style: none;
}

.link {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 769px) {

    .contactLink {
        font-size: 16px;
        max-width: 220px;
        margin-top: -40px;
    }

    .projectsBox {
        gap: 40px;
    }
}

@media screen and (max-width: 432px) {

    .contactLink {
        font-size: 14px;
        margin-top: -20px;
    }

    .titleBox {
        width: 100%;
    }

    .projectsBox {
        gap: 20px;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px) {

    .contactLink {
        font-size: 16px;
        max-width: 220px;
        margin-top: -40px;
    }

    .projectsBox {
        gap: 40px;
    }
}