.titleBox {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.contactLink {
    width: 80%;
    max-width: 280px;
    align-self: self-end;
    margin-top: -60px;
}

.projectsBox {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

    list-style: none;
}

.link {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}