.logo {
    width: 80px;
    transition: ease-in-out 500ms;
}

.logo:hover {
    transform: scale(1.1);
}


.link {
    display: inline-block;
    text-decoration: none;

    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    font-stretch: 90%;
    color: var(--second-text-color);
    text-transform: uppercase;
    white-space: nowrap;

    transition: ease-in-out 500ms;
}

.link:hover {
    transform: scale(1.1);
    color: color-mix(in srgb, var(--second-text-color) 50%, transparent);
}

@media screen and (max-width: 960px) {

    .link {
        font-size: 20px;
    }
}