.textFieldsBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btnBox {
    margin-top: 28px;
    margin-bottom: 11px;
}

.btn {
    background: var(--main-background-color);
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    font: inherit;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-text-color);
    text-transform: uppercase;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    align-self: flex-start;
    border-radius: 8px;

    transition: ease-in-out 500ms;
}

.btn:hover {
    background: color-mix(in srgb, var(--second-background-color) 50%, transparent);
    transform: scale(1.05);
}

.privacyTitle {
    margin: 16px 0 8px;
    font-weight: 400;
    color: var(--second-text-color);
}

.textLink {
    color: var(--second-text-color);
    font-weight: 600;
}