.textFieldsBox {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
}

.colHalf {
    grid-column: span 1;
}

.colFull {
    grid-column: 1 / -1;
}

.btnBox {
    margin-top: 28px;
    margin-bottom: 11px;
}

.btn {
    background: var(--main-background-color);
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    font: inherit;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-text-color);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    align-self: flex-start;
    border-radius: 8px;

    transition: ease-in-out 500ms;
}

.btn:hover {
    background: color-mix(in srgb, var(--second-background-color) 50%, transparent);
    transform: scale(1.05);
}

.privacyLink {
    margin: 28px 0 8px;
}

.textLink {
    color: var(--second-text-color);
    font-weight: 600;
}

.textLink:hover {
    color: color-mix(in srgb, var(--third-text-color) 50%, transparent);
}

@media (max-width: 769px) {

    .textFieldsBox {
        grid-template-columns: 1fr;
    }

    .colHalf,
    .colFull {
        grid-column: 1 / -1;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px) {

    .textFieldsBox {
        grid-template-columns: 1fr;
    }

    .colHalf,
    .colFull {
        grid-column: 1 / -1;
    }
}