.mainBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.descriptionList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description {
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    color: var(--third-text-color);
    text-align: justify;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.imageContainer {
    display: flex;
    gap: 40px;
}

.imageHint {
    font-size: 14px;
    font-style: italic;
    color: var(--third-text-color);
    text-align: center;
    opacity: 0.6;
}

.project {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-block: 24px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blockTitle {
    color: var(--third-text-color);
    font-size: 32px;
    font-weight: 600;
}

.techBlockTitle {
    font-size: 28px !important;
    color: var(--second-text-color) !important;
}

.techBlockText {
    font-weight: 500 !important;
    color: var(--third-text-color) !important;
    margin-left: 80px;
}

.featuresList {
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.featureItem {
    font-weight: 400;
    font-size: 20px;
    color: var(--second-text-color);
    line-height: 1.4;
    text-align: justify;
}

.linksBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.btnLink {
    width: 80%;
    max-width: 300px;
    align-self: self-end;
}

.btnLinkBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
}