.title {
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    color: var(--second-text-color);
}

@media screen and (max-width: 769px) {

    .title {
        font-size: 50px;
        hyphens: auto;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 432px) {

    .title {
        font-size: 40px;
    }
}