.link {
    display: flex;
    gap: 10px;

    text-decoration: none;
    color: var(--third-text-color);
    font-size: 24px;
    font-weight: 600;

    transition: ease-in-out 500ms;
}

.link:hover {
    opacity: 0.6;
}