.link {
    display: flex;
    gap: 10px;

    text-decoration: none;
    color: var(--third-text-color);
    font-size: 24px;
    font-weight: 600;

    transition: ease-in-out 500ms;
}

.link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {

    .link {
        font-size: 18px;
    }
}

@media screen and (max-width: 430px) {

    .link {
        font-size: 16px;
        gap: 8px;
    }
}