.container{
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--second-text-color);
    text-transform: uppercase;
    white-space: nowrap;
}

.link:hover{
    color: color-mix(in srgb, var(--third-text-color) 50%, transparent);
}

@media screen and (max-width: 769px) {

    .link {
        font-size: 14px;
    }

    .menu {
        gap: 18px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 432px) {

    .contsiner {
        padding: 20px;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px){
    
    .link {
        font-size: 14px;
    }

    .menu {
        gap: 18px;
        flex-wrap: wrap;
    }
}