.block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blockTitle {
    color: var(--third-text-color);
    font-size: 32px;
    font-weight: 600;
}

.blockText {
    font-weight: 400;
    font-size: 20px;
    color: var(--second-text-color);
    line-height: 1.4;
    text-align: justify;
}

@media screen and (max-width: 769px) {

    .blockTitle {
        font-size: 24px;
    }

    .blockText {
        font-size: 18px;
    }
}

@media screen and (max-width: 432px) {

    .blockTitle {
        font-size: 22px;
    }

    .blockText {
        font-size: 16px;
    }

    .block {
        gap: 8px;
    }
}