.mainContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    align-items: stretch;
}

.mainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.imageBox {
    width: 600px; 
    margin-top: 20px;
}

.imageFoto {
    width: 100%;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgb(var(--main-border-rgb) / 0.4);
}

.titleWelcome {
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 32px;
    color: var(--second-text-color);
    line-height: 1.5;
    text-align: center;
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textHome {
    font-weight: 500;
    font-size: 24px;
    color: var(--second-text-color);
    line-height: 1.5;
}

.textSkills {
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
    line-height: 1.5;
}

.locationBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: auto; 
}

.textLocation {
    font-weight: 500;
    font-size: 18px;
    color: var(--third-text-color);
    line-height: 1.5;
}

.textHome strong {
    font-weight: 600;
    color: var(--third-text-color);
}

.textSkills strong {
    font-weight: 600;
}

.textSkills br {
    margin-bottom: 4px;
    content: "";
    display: block;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}