.mainContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    align-items: stretch;
}

.mainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.imageBox {
    width: 600px;
    margin-top: 20px;
}

.imageFoto {
    width: 100%;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgb(var(--main-border-rgb) / 0.4);
}

.titleWelcome {
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 32px;
    color: var(--second-text-color);
    line-height: 1.5;
    text-align: center;
}

.textBox {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.textHome {
    font-weight: 500;
    font-size: 24px;
    color: var(--second-text-color);
    line-height: 1.5;
}

.textSkills {
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
    line-height: 1.5;
}

.locationBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: auto;
}

.textLocation {
    font-weight: 500;
    font-size: 18px;
    color: var(--third-text-color);
    line-height: 1.5;
}

.textHome strong {
    font-size: 32px;
    font-weight: 600;
    color: var(--third-text-color);
}

.textSkills strong {
    font-weight: 600;
}

.textSkills br {
    margin-bottom: 4px;
    content: "";
    display: block;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 769px) {

    .mainContainer {
        flex-direction: column;
    }

    .imageBox {
        width: 400px;
        margin-top: 0;
        align-self: center;
    }

    .titleWelcome {
        font-size: 28px;
    }

    .textHome {
        font-size: 20px;
    }

    .textSkills {
        font-size: 16px;
    }

    .textLocation {
        font-size: 16px;
    }

    .textHome strong {
        font-size: 28px;
    }

    .mainBox {
        gap: 30px;
    }

}

@media screen and (max-width: 432px) {

    .mainContainer {
        gap: 22px;
    }

    .mainBox {
        gap: 22px;
    }

    .titleWelcome {
        font-size: 22px;
    }

    .textHome {
        font-size: 18px;
        text-align: start;
    }

    .textSkills {
        font-size: 14px;
    }

    .textLocation {
        font-size: 14px;
    }

    .textHome strong {
        font-size: 22px;
    }

    .imageBox {
        width: 100%;
    }

    .textBox {
        width: 100%;
        gap: 14px;
        text-align: start;
    }

    .locationBox {
        flex-direction: column;
        gap: 14px;

    }

}