.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .container {
        gap: 60px;
    }
}

@media screen and (max-width: 430px) {

    .container {
        gap: 40px;
    }
}