.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

@media screen and (max-width: 769px) {

    .container {
        gap: 60px;
    }
}

@media screen and (max-width: 432px) {

    .container {
        gap: 40px;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px){
    .container {
        gap: 40px;
    }
}