.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.subtitle {
    font-family: var(--font-serif);
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
    text-align: center;
    line-height: 1.5;
}

.hero {
    font-weight: 500;
    font-size: 24px;
    color: var(--second-text-color);
    line-height: 1.5;
    text-align: justify;
    margin-top: 20px;
}

.hero strong {
    font-size: 32px;
    font-weight: 600;
    color: var(--third-text-color);
}

@media screen and (max-width: 769px) {

    .subtitle {
        font-size: 16px;
    }

    .hero {
        font-size: 20px;
    }

    .hero strong {
        font-size: 24px;
    }
}

@media screen and (max-width: 432px) {

    .subtitle {
        font-size: 14px;
    }

    .hero {
        font-size: 16px;
    }

    .hero strong {
        font-size: 22px;
    }
}