.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1024px) {

    .wrapper {
        max-width: 980px;
    }
}

@media screen and (max-width: 960px) {

    .wrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .wrapper {
        padding: 0 20px;
    }
}