.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1024px) {

    .wrapper {
        max-width: 980px;
    }
}

@media screen and (max-width: 960px) {

    .wrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 769px) {

    .wrapper {
        padding: 0 20px;
    }
}

@media screen and (max-width: 432px) {

    .wrapper {
        padding: 0 10px;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px){
    .wrapper {
        padding: 0 20px;
    }
}