.ctaWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.linksIntro {
    margin-bottom: 20px;
    opacity: 0.8;
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
}

.linkBtn {
    text-decoration: none;
    cursor: pointer;
    background: color-mix(in srgb, var(--main-background-color) 50%, transparent);
    border: none;
    border-radius: 8px;
    padding: 16px 24px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-inline: auto;
    white-space: normal;

    font: inherit;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-text-color);

    transition: ease-in-out 500ms;
}

.linkBtn:hover {
    background: color-mix(in srgb, var(--second-background-color) 30%, transparent);
    transform: scale(1.05);
}

.twoCols {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 14px 40px;
    width: min(100%, 920px);
    margin-inline: auto;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.closing{
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
    line-height: 1.5;
    margin-top: 60px;
}


@media (max-width: 768px) {
    .twoCols {
        grid-template-columns: 1fr;
        width: 100%;
    }
}