.btnBox {
    width: 100%;
    display: flex;
    gap: 40px;
}

.linksBtnBox {
    width: 100%;
    display: flex;
    gap: 40px;
}

.resumeBox {
    width: 600px;
}

@media screen and (max-width: 768px) {

    .btnBox {
        flex-direction: column-reverse;
        align-items: stretch;
        gap: 24px;
    }

    .resumeBox {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .linksBtnBox {
        width: 100%;
        display: flex;
        gap: 16px;
        justify-content: center;
    }
}

@media screen and (max-width: 430px) {

    .btnBox {
        flex-direction: column-reverse;
        gap: 16px;
    }

    .resumeBox {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .linksBtnBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contactLink {
        width: 80%;
        margin-inline: auto;
    }
}