.mainContainer {
    width: 100%;
    margin-top: 20px;
    display: block;
}

.flowBlock {
    display: flow-root;
    margin-bottom: 20px;

}

.flowBlock:last-child {
    margin-bottom: 0;
}


.imageBox {
    margin-top: 10px;

    width: 40%;
    max-width: 420px;
}

.floatLeft {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}

.floatRight {
    float: right;
    margin-left: 40px;
    margin-bottom: 10px;
}

.imageFoto {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(var(--main-border-rgb) / 0.4);
    display: block;
}

.imageCert {
    transition: transform 500ms ease-in-out;
}

.imageCert:hover {
    transform: scale(1.05);
}


.text {
    font-weight: 400;
    font-size: 20px;
    color: var(--second-text-color);
    line-height: 1.5;
    text-align: justify;

    margin-bottom: 20px;
}


@media (max-width: 960px) {

    .imageBox {
        max-width: 320px;
    }

    .floatLeft {
        margin-right: 20px;
    }

    .floatRight {
        margin-left: 20px;
    }
}


@media screen and (max-width: 769px) {

    .flowBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .floatLeft, .floatRight {
        float: none;
        width: 100%;
        margin: 0;
    }

    .imageBox {
        width: 100%;
        max-width: 360px;
    }

    .text {
        font-size: 18px;
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 432px) {

    .mainContainer {
        margin-top: 10px;
    }

    .text {
        font-size: 16px;
    }

    .flowBlock {
        gap: 18px;
    }

}

@media screen and (orientation: landscape) and (max-height: 450px) {

    .text {
        font-size: 18px;
    }

}