.policy {
  max-width: 1024px;
  margin-inline: auto;
  padding: 32px 16px;
  color: var(--second-text-color);
  line-height: 1.6;
}

.updated {
  margin-bottom: 40px;
}

.policy em {
  color: color-mix(in srgb, var(--third-text-color) 50%, transparent);
}

.policy section {
  margin-top: 24px;
}

.policy h3 {
  color: var(--second-text-color);
  font-size: 36px;
  font-weight: 400;
  margin: 32px 0 16px;
}

.policy p {
  margin-top: 8px;
  text-align: justify;
}

.policy strong {
  font-weight: 600;
  color: var(--third-text-color);
}

.policy br {
  margin-bottom: 4px;
  content: "";
  display: block;
}

.policy p+p {
  margin-top: 16px;
}

.policy a {
  text-decoration: none;
  color: var(--third-text-color);
}

.policy a:hover {
  color: color-mix(in srgb, var(--third-text-color) 50%, transparent);
}