.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px 40px;

  /* translucent background */
  background-color: color-mix(in srgb, var(--white-background-color) 85%, transparent);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: background-color .3s ease
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.burger {
  display: none;
  position: relative;
  width: 32px;
  height: 24px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 999px;
  background-color: var(--second-text-color);
  transition: transform 0.25s ease, opacity 0.25s ease, top 0.25s ease,
    bottom 0.25s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 0;
}

/* анімація "х" */
.burgerOpen span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burgerOpen span:nth-child(2) {
  opacity: 0;
}

.burgerOpen span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

@media screen and (max-width: 960px) {

  .right {
    gap: 18px;
  }
}

@media (max-width: 769px) {
  .nav {
    padding: 32px 20px;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 432px) {
  .nav {
    padding: 20px 12px;
  }
}