.nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px 40px;

    /* translucent background */
    background-color: color-mix(in srgb, var(--white-background-color) 85%, transparent);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: background-color .3s ease
}