.container {
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.iconBox {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgb(var(--main-border-rgb) / 0.4);

    transition: ease-in-out 500ms;
}

.iconImg {
    width: 60%;
    height: 60%;
    padding: 2px;
    object-fit: contain;
    opacity: 0.65;
}

.iconBox:hover {
    background-color: color-mix(in srgb, var(--main-hover-color) 50%, transparent);
}

@media screen and (max-width: 768px) {

    .iconBox {
        width: 48px;
        height: 48px;
    }

    .menu {
        gap: 18px;
    }
}