.footerBox {
    width: 100%;
    background-color: var(--black-background-color);
    padding: 40px 40px;
}

.text {
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {

    .footerBox {
        padding: 28px 28px;
    }

    .text {
        font-size: 11px;
    }
}