.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.subtitle {
    font-family: var(--font-serif);
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
}