.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.subtitle {
    font-family: var(--font-serif);
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
}


/* border-bottom: 1px solid var(--light-border-color); */
/* box-shadow: 0 1px 6px color-mix(in srgb, var(--main-hover-color) 20%, transparent); */
/* transition: background-color .3s ease, box-shadow .3s ease; */