.imageFoto {
    width: 400px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    /* border-bottom: 1px solid var(--light-border-color); */
    /* box-shadow: 0 1px 6px color-mix(in srgb, var(--main-hover-color) 20%, transparent); */
    /* transition: background-color .3s ease, box-shadow .3s ease; */
