.skillBox {
    width: 100%;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media screen and (max-width: 769px) {

    .skillBox {
        gap: 40px;
    }
}

@media screen and (max-width: 432px) {

    .skillBox {
        gap: 20px;
    }
}

@media screen and (orientation: landscape) and (max-height: 450px){
    .skillBox {
        gap: 20px;
    }
}