.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.subtitle {
    width: 80%;
    font-weight: 400;
    font-size: 20px;
    color: var(--second-text-color);
    line-height: 1.5;
    text-align: justify;
}

.skillBox {
    width: 100%;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
