.skillBox {
    width: 100%;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media screen and (max-width: 768px) {

    .skillBox {
        gap: 40px;
    }
}