.container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.subtitle{
    width: 80%;
    font-weight: 400;
    font-size: 20px;
    color: var(--second-text-color);
    line-height: 1.5;
    text-align: justify;
}

.skillBox {
    width: 100%;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skillCard {
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(var(--main-border-rgb) / 0.4);

    display: flex;
    flex-direction: column;
    gap: 16px;

    font-weight: 400;
    font-size: 14px;
    color: var(--third-text-color);
    line-height: 1.5;

    transition: ease-in-out 500ms;
}

.skillCard:hover {
    background-color: color-mix(in srgb, var(--main-background-color) 50%, transparent);
    color: var(--white-text-color);
    transform: scale(1.05);
}

.title{
    font-weight: 600;
    font-size: 24px;
}