.titleBox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lead1 {
    font-weight: 400;
    font-size: 24px;
    color: var(--second-text-color);
    line-height: 1.5;
}

.lead2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
    line-height: 1.5;
}