.titleBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lead1 {
    font-weight: 400;
    font-size: 24px;
    color: var(--second-text-color);
    line-height: 1.5;
    text-align: justify;
}

.lead2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--third-text-color);
    line-height: 1.5;
    text-align: justify;
}

@media screen and (max-width: 768px) {

    .lead1 {
        font-size: 20px;
    }

    .lead2 {
        font-size: 16px;
    }

    .titleBox {
        margin-top: 20px;
        gap: 16px;
    }
}

@media screen and (max-width: 430px) {

    .lead1 {
        font-size: 18px;
    }

    .lead2 {
        font-size: 14px;
    }

    .titleBox {
        margin-top: 12px;
        gap: 10px;
    }
}